<!-- views/partials/header.ejs -->

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Minitwit</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li> -->
        <!-- <li><a href="../login">Log in</a></li>
        <li><a href="NotImplemented">Test</a></lsi> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <% if (locals.loggedin) { %>
        <li><a href="../logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
    <% } else { %>
        <li><a href="../login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
        <% } %>

    </ul>
  </div>
</nav> 