<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Minitwit
        </a>

        <ul class="nav navbar-nav">
          <!-- #TODO, if logged in
            {% if g.user %}
          -->
            <li><a href="/">my timeline</a> </li>
            <li><a href="/public">public timeline</a> </li>
            <li><a href="/logout">sign out [<!-- TODO, get username of logged in user
                                            {{ g.user.username }}-->]</a> </li>
          <!-- #TODO if not logged in
            {% else %} 
          -->
            <li><a href="/public">public timeline</a> </li>
            <li><a href="/register">sign up</a> </li>
            <li><a href="/login">sign in</a></li>
          <!-- #TODO end if statement
            {% endif %}
          -->
        </ul>
        

    </div>

</div>
</nav>
